.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 53px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.App-btn {
  display: block;
  border: none;
  background-color: rgb(101, 3, 167);
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
}
.App-btn:hover {
  background-color: rgb(156, 25, 245);
  box-shadow: 10px 10px 0 0 #000;
}
.App-link {
  color: rgb(156, 25, 245);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
